/Temp
/Library
/obj
/.vs
_Builds/
.gradle/
/.idea
/*.csproj
/*.sln
*.userprefs
/Logs
Logs/Packages-Update.log
Assets/_Code/Editor/RemoteSettings/link.xml.meta
UserSettings/EditorUserSettings.asset
/Recordings
/*.apk
/Burst_v2_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
/Burst_v3_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
/Burst_v4_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
/Burst_v5_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
/*.aab
